.button {
    padding: 10px 20px;
    border: none; /* Убрать границу */
    border-radius: 5px; /* Закругленные углы */
    background-color: #dc3545; /* Красный фоновый цвет */
    color: #fff; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор указатель */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

/* Ховер эффект для кнопки */
.button:hover {
    background-color: #c82333; /* Темный красный фон при наведении */
}



/*.button {*/
/*    padding: 10px 15px;*/
/*    background: var(--tg-theme-button-color);*/
/*    color: var(--tg-theme-button-text-color);*/
/*    border: none;*/
/*    outline: none;*/
/*    cursor: pointer;*/
/*}*/

