.button {
    padding: 9px;
    margin-top: 10px;
    border: none; /* Убрать границу */
    border-radius: 5px; /* Закругленные углы */
    background-color: #007bff; /* Фоновый цвет */
    color: #fff; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
    cursor: pointer; /* Курсор указатель */
    transition: background-color 0.3s ease; /* Плавное изменение цвета */
}

/* Ховер эффект для кнопки */
.button:hover {
    background-color: #0056b3; /* Темный фон при наведении */
}

.return_button {
    background-color: black;


}