.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-avatar {
    width: 150px; /* Можно изменить размер по вашему желанию */
    height: 150px;
    overflow: hidden;
    border-radius: 50%; /* Сделать аватар круглым */
    margin-bottom: 20px;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Изображение будет масштабироваться и обрезаться, чтобы заполнить контейнер */
}

.profile-info {
    text-align: center;
}

.profile-info h2 {
    margin: 10px 0;
}

.profile-info p {
    margin: 5px 0;
    color: #666;
}
