/* Основной стиль формы */
* {
    padding: 1px; /* Убираем padding по умолчанию */
    margin: 1px; /* Убираем margin по умолчанию */
    box-sizing: border-box; /* Обеспечиваем, чтобы padding и border учитывались в общей ширине и высоте элемента */

    .all-input {
       padding-bottom: 108px;
    }
}
.h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700; /* Жирный шрифт */
    text-align: center;
    padding-top: 16px;
    color: #333;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px; /* Ограничение ширины формы */
    padding: 20px;
    margin: 0 auto; /* Центрирование формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 10px; /* Закругленные углы */
    background-color: #f9f9f9; /* Фоновый цвет */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */

}

/* Стиль для полей ввода */
.input {
    width: 100%; /* Полная ширина внутри формы */
    padding: 10px;
    padding-left: 40px; /* Отступ слева для иконки, если иконка присутствует */
    border: 1px solid #ccc; /* Граница поля */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */

}

/* Стиль для выпадающего списка */
.select {
    width: 100%; /* Полная ширина внутри формы */
    padding: 10px;
    padding-left: 40px; /* Отступ слева для иконки, если иконка присутствует */
    border: 1px solid #ccc; /* Граница поля */
    border-radius: 5px; /* Закругленные углы */
    font-size: 16px; /* Размер шрифта */
    background-color: #fff; /* Фоновый цвет */
    -webkit-appearance: none; /* Убирает стандартный стиль на iOS */
    -moz-appearance: none;    /* Убирает стандартный стиль на Firefox */
    appearance: none;
    color: black;
}
.thank-you {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh; /* Занимает всю высоту экрана */
    text-align: center; /* Выравнивание текста по центру */
}
.dog_sticker{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    text-align: center; /* Выравнивание текста по центру */
}
.telegram-sticker1 {
    margin-top: 20px;
    width: 200px; /* Установите желаемую ширину для стикера */
    height: auto; /* Сохраняем пропорции */
}
.telegram-sticker {
    margin-top: 20px;
    width: 150px; /* Установите желаемую ширину для стикера */
    height: auto; /* Сохраняем пропорции */
}

.return_button {
    background-color: #007bff;
}

input[type="date"] {
    display: block;
    width: 100%;
    padding: 10px;
    padding-left: 40px; /* Отступ слева для иконки, если иконка присутствует */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.input-group .input,
.input-group .select,
.input-group input[type="date"] {
    width: 100%;
    padding-left: 40px; /* Отступ слева для иконки */
    border-radius: 5px;
    font-size: 16px;
}

.input-group i {
    position: absolute;
    left: 10px;
    font-size: 18px;
    color: #666;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    .input-group .select,
    .input-group input[type="date"]{
        -webkit-appearance: none; /* Убираем стандартный стиль для iOS */
        padding-left: 40px; /* Отступ слева для иконки */
    }

}