/* Общие стили для всех устройств */
.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    z-index: 1000;

}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.nav-button i {
    font-size: 24px;
    margin-bottom: 4px;
}

.nav-button span {
    font-size: 12px;
}

/* Мобильные устройства (до 600px) */
@media (max-width: 600px) {
    .nav-bar {
        justify-content: space-evenly;
    }

    .nav-button {
        flex: 1;
    }
}

/* Планшеты и более крупные устройства (до 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
    .nav-bar {
        justify-content: space-evenly;
    }

    .nav-button i {
        font-size: 28px;
    }

    .nav-button span {
        font-size: 14px;
    }
}

/* Десктопные устройства (более 1024px) */
@media (min-width: 1025px) {
    .nav-bar {
        justify-content: space-evenly;
        padding-right: 50px;
    }

    .nav-button {
        margin-right: 20px;
    }

    .nav-button i {
        font-size: 32px;
    }

    .nav-button span {
        font-size: 16px;
    }
}
